<div style="text-align: center">
  <h1>Policy Holder Details</h1>
</div>
<div class="col-md-4" *ngIf ='toggleForm' ngNativeValidate>
  <form #f='ngForm' (ngSubmit)="submit(f.value)">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" name='id' [(ngModel)]='policyData.id' class="form-control">
    </div>
    <div class="form-group">
      <label for="">Policy Holder Name</label>
      <input type="text" name='policyHolderName' [(ngModel)]='policyData.policyHolderName' class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Policy Amount</label>
      <input type="text" name='policyAmount' [(ngModel)]='policyData.policyAmount' class="form-control">
    </div>
    <div class="form-group">
      <label for="">Maturity Date</label>
      <input type="date" name='maturityDate' [(ngModel)]='policyData.maturityDate' class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" [value]='buttonText' class="btn btn-dark">
    </div>
  </form>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <td style="text-align: center"><label>Enter the Policy Holder Name</label></td>
    <td style="text-align: center"><input [(ngModel)]='searchName'></td>
    <td style="text-align: center"><button (click) = 'showForm()' title= '{{action}}' class="btn col-md-5" [ngClass]="status ? 'btn-primary' : 'btn-danger'">{{sign}}</button></td>
    <!--<td><button (click) = 'showForm()' class="fa" [ngClass]="status ? 'fa-toggle-up' : 'fa-toggle-down'">{{sign}}</button></td> -->
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th style="text-align: center">Id</th>
    <th style="text-align: center">Policy Holder Name</th>
    <th style="text-align: center">Policy Amount</th>
    <th style="text-align: center">Maturity Date</th>
    <th style="text-align: center">Edit Policy</th>
    <th style="text-align: center">Remove Policy</th>
  </tr>
  <tr *ngFor="let policy of policyDetailList |filter:'policyHolderName' : searchName | paginate:{itemsPerPage:3, currentPage:page}">
    <td style="text-align: center">{{policy.id}}</td>
    <td style="text-align: center">{{policy.policyHolderName |uppercase}}</td>
    <td style="text-align: center">{{policy.policyAmount |currency : 'INR' : 'symbol'}}</td>
    <td style="text-align: center">{{policy.maturityDate | date: 'medium'}}</td>
    <td style="text-align: center"><button class="btn fa fa-1x fa-edit btn-info" (click)="update(policy)"></button></td>
    <td style="text-align: center"><button class="btn fa fa-1x fa-remove btn-danger" (click)="remove(policy)"></button></td>
  </tr>
</table>
<div>
  <pagination-controls (pageChange)='page=$event' style="text-align: center"></pagination-controls>
</div>